.event-card {
  width: 27rem;
  border: 1px solid $border-color;
  border-radius: $radius;
  overflow: hidden;
}

.event-card__figure {
  position: relative;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem 2.4rem;
}

.event-card__title {
  font-size: 2rem;
  font-weight: 600;
  color: $color-default;
  white-space: wrap;
}

.event-card__location,
.event-card__range {
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-primary;
}