.container::-webkit-scrollbar {
  display: none;
}

.container {
  overflow-x: auto;
}

.container__scroll-x {
  display: flex;
  gap: .8rem;
  white-space: nowrap; // all its childrens must have inline-block display
}