$font-name: 'Inter', sans-serif;

$color-default: #1F2937;
$color-primary: #6B7280;
$color-secondary: #3B82F6;
$border-color: #E5E7EB;
$radius: .6rem;

$max-website-width: 1440px;
$breakpoint-tablet: 750px;
$breakpoint-desktop: 1275px;
$container-padding-mobile: 1.6rem;
$container-padding-desktop: 4rem;

$category-flex-gap-tablet: 1rem;