@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-name;
  font-size: 1.6rem;
  box-sizing: border-box;
  max-width: $max-website-width;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $color-default;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

// main layout

main {
  max-width: 1152px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media (min-width: $breakpoint-tablet) {
    gap: 6rem;
  }

  @media (min-width: $breakpoint-desktop) {
    gap: 8rem;
  }
}

// utility classes

.flx-group {
  display: flex;
  gap: .8rem;
  align-items: center;
}

.abs-lb {
  position: absolute;
  left: 2.4rem;
  bottom: 2.4rem;
}

.txt-c {
  text-align: center;
}
